name: Nuget publish

on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Verify commit exists in origin/main
      run: |
        git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
        git branch --remote --contains | grep origin/main
    - name: Set VERSION variable from tag
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
    - name: Build
      run: dotnet build IdentificationNumber -c Release /p:Version=${VERSION}
      working-directory: src
    - name: Test
      run: dotnet test IdentificationNumber -c Release /p:Version=${VERSION} --no-build
      working-directory: src
    - name: Pack
      run: dotnet pack IdentificationNumber -c Release /p:Version=${VERSION} --no-build --output .
      working-directory: src
    - name: Push
      run: dotnet nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}}
      working-directory: src
        
        
       